<div class="row">
  <div class="col-md-4 offset-md-1">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by name..." (input)="rangeChange($event.target.value)" (keyup.enter)="rangeChange($event.value)">
      <div class="input-group-append">
        <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
      </div>
    </div>
  </div>
</div>

<div class="list-group users-list">
  <div *ngFor="let account of filtered_accounts | keyvalue" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row" [style.background]="account.value['accountBalance'] < 0 ? '#ffd3d3' : 'white'">
      <div class="col col-md-2 image-col">
        <img class="image" [src]="sanitize(account.value['accountType'])">
      </div>
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">{{account.value['accountType']}} : {{account.value['accountName']}}</h5>
        <span>Balance: $</span>
        <span [style.color]="account.value['currentBalance'] < 0 ? '#ff0000' : 'black'">{{account.value['currentBalance'] | currency: 'symbol':''}}</span>
        <div>
          <span>Account Key: {{account.value['monthEndBalance']}}</span>
        </div>
      </div>
      <div class="col col-md-2 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(account.key)" type="button">
          <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
