<h6 class="section-header">
  <span>Recent Transactions</span>
  <span style="float: right">
    <label for="historyDaysSelect" class="padRight20">Days:</label>
    <select class="transaction-input-style" name="historyDaysSelect" id="historyDaysSelect" (change)="onSelectDateRange($event.target['value'])">
      <ng-container *ngFor="let days of historyDays">
        <option value="{{days}}">{{days}}</option>
      </ng-container>
    </select>
  </span>
</h6>
<table class="table transaction-table">
  <thead class="thead-dark">
    <tr>
      <th style="width: 7%">Transaction Type</th>
      <th style="width: 7%">Transaction Date</th>
      <th style="width: 10%">Category</th>
      <th style="width: 10%">Subcategory</th>
      <th style="width: 10%">From Account</th>
      <th style="width: 10%">To Account</th>
      <th>Description</th>
      <th style="width: 7%">Amount</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="transactionList">
      <ng-container *ngFor="let transaction of transactionList">
        <tr>
          <td>{{transaction.transactionType}}</td>
          <td>{{transaction.transactionDate.seconds*1000 | date: 'MM/dd/yyyy'}}</td>
          <td>{{transaction.mainCategory}}</td>
          <td>{{transaction.subCategory}}</td>
          <td>{{transaction.fromAccount}}</td>
          <td>{{transaction.toAccount}}</td>
          <td style="text-align: left">{{transaction.description}}</td>
          <td>${{transaction.transactionAmount}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
