<div class="table-margin" style="width: 400px;">
  <mat-select class="input-style">
    <select name="categorySelect" id="categorySelect" class="form-control" (change)="testChart($event.target['value'])">
      <option></option>
      <ng-container *ngIf="budgetCategories">
        <ng-container *ngFor="let category of budgetCategories | keyvalue">
          <ng-container *ngIf="excludeList.indexOf(category.key) === -1">
            <option [value]="category.key">{{category.key}}</option>
          </ng-container>
        </ng-container>
      </ng-container>
    </select>
  </mat-select>
  <div class="container">
  </div>
  </div>
